.title {
  white-space: nowrap;
  position: absolute;
  right: 35px;
  top: 1px;
  background: #000;
  color: #fff;
  padding: 3px 10px;
  font-size: 14px;
  border-radius: 6px;
  display: none;
}
.title::after {
  content: '';
  height: 6px;
  width: 6px;
  background-color: #000;
  transform: rotate(45deg);
  position: absolute;
  right: -3px;
  top: 11px;
}
.wraper {
  position: relative;
}
.wraper:hover .title {
  display: block;
}
